<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <form action="/login" method="post">
    <div>
      <label for="email"> Email </label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="password"> Password </label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit"> Register </button>
  </form>
  <%- include("./partials/socialLogin.ejs") %>
</body>

</html>